#banner{
    height: 30%;
    width: 100%;
    /* background-image: linear-gradient(to right, blue, red); */
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center
}
.Title{
    color: white;
    padding: 10px,0,10px,0;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  